@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: 'Karla', sans-serif;    font-style: normal;
    font-size: 16px;
    color: #5a5150;
    line-height: 1.8;
}

body{
    background-color: lightgrey;

}



.wrapper{
    background-color: whitesmoke;
    margin:0px 65px 0px 60px;
    max-width: 1795px;
    padding: 0 40px;

}

header{
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0 0 0 / 6%);
    padding: 0 40px;
    margin-bottom: 10px;

}

.logo{
    margin-top: 10px;
}

ul.main-menu{
    list-style: none;
    color: #4e4b4b;

}

li.menu-item{ 
    display: inline-block;
    padding-right: 15px;
}

li.menu-item ::after{ 
    content: " | ";
    padding-left: 10px;
    color: #eaeaea;
}

li.menu-item a{ 
    color: #4e4b4b;
}

li.menu-item a:hover{ 
    color: #ca404f;
}

ul.socials{
    list-style: none;
    color: #4e4b4b;

}

li.social-item{ 
    display: inline-block;
    padding-right: 15px;
}

li.social-item a{
    color: #4e4b4b;
}

p{
    font-family: 'Karla', sans-serif;    font-style: normal;
    font-size: 16px;
    line-height: 1.8;

}

h1,h2,h3,h4,h5,h6{
    font-family: 'Karla', sans-serif;    font-style: normal;
    font-weight: normal;
    color: #4e4b4b;
    line-height: 1.4;

}

h2{
    font-size: 40px;
    line-height: 1.2;
    
}

h3{
    font-size: 16px;
    line-height: 1.4;

}

h4{
    font-size: 16px;
    color:#919291;
    line-height: 1.4;

}

a{
    font-family: 'Karla', sans-serif;    font-style: normal;
    font-size: 14px;
    color: #ca404f;
    line-height: 1.4;
    text-decoration: none;

}

button{
    font-family: 'Karla', sans-serif;    font-style: normal;
    font-size: 16px;
    height: 42px;
    color: white;
    background-color: #ca404f;
    padding:0 20px;
    line-height: 42px;
    border: none;

}

main{
    padding:0 100px 40px 100px;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center bottom;

}

.recepten{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recept{
    display: flex;
    width: 1040px;

}

.description{
    width: 485px;
    margin-right: 70px;
}

.description h4{
    margin-top: 15px;
}

.description p{
    margin: 60px 0;
}

.recept-items{
    width: 485px;

}

.recept-image img{
    width: 485px;
}

.recept-items{
    width: 485px;
}

.recept-items .item{
    display: grid;
    grid-template-columns: auto 100px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 15px;
}

.recept-items .item :hover{
    background-color: #eaeaea;
    padding-left: 10px;
}

.item-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}
